node_modules
.DS_Store
public/css/.sass-cache/ace4d8be8b0fa7b88102d76ab7f327ba175d166b/fruktkartan.scssc

public/css/.sass-cache/4fd77a990db0072603a2b1ccc93dfccf5d13e6a2/fruktkartan.scssc
public/.sass-cache/**/*
.sass-cache/**/*