div#add_window(class='info_window')
  div(class='info_view')
    form(data-bind='submit: save')
      h3 Lägg till ett träd
      div
        select#info_type(data-bind='options: fruits, value: selectedFruit, optionsCaption: "Välj fruktsort"')
        
        input#info_extra(data-bind='value: customFruit, visible: selectedFruit() == "Annan sort"', placeholder='Namn på annan fruktsort')
      div
        textarea#info_desc(name='info_desc', placeholder='Beskrivning, t.ex. hur man hittar till trädet.', data-bind='value: description')

      div(data-bind='visible: !saving()')
        button#info_save(type='submit') Spara
        a#cancel_link(href="#", class="block_link", data-bind='click: close') Avbryt

      div(data-bind='visible: saving')
        span#indicator
          img(src='//static.xn--ssongsmat-v2a.nu/fruktkartan/images/ajax-loader.gif', alt='arbetar…')
          span Sparar fruktträd...

      p Dra och släpp markören för att märka ut trädet på rätt plats.
