div#info_window(class='info_window')
  div(class='info_view')
    h3: a(target='_blank', data-bind='attr: {href: url}, text: article')
    p(data-bind='html: description')
  footer
    a(target='_blank', data-bind='attr: {href:editUrl}') Redigera