article#info_window(class='info_window jsonly')
  div(class='info_view')
    h3: a(target='_blank', data-bind='attr: {href: url}, text: article')
    p(data-bind='html: description' )
  footer
    ul(class='tools')
      li
        a(target='_blank', data-bind='attr: {href:editUrl}') Redigera
      li
        a(target='_blank', data-bind='attr: {href:deleteUrl}') Ta bort
