!!! 5
html(lang="sv")
	head
		meta(charset="UTF-8")

		title= title
		
		//- link(rel='stylesheet', charset='utf-8', type='text/css', href='http://fonts.googleapis.com/css?family=Pacifico')
		link(rel='stylesheet', charset='utf-8', type='text/css', href='http://fonts.googleapis.com/css?family=Leckerli+One')
		
		link(rel='stylesheet', charset='utf-8', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', charset='utf-8', type='text/css', href='/css/text.css')
		link(rel='stylesheet', charset='utf-8', type='text/css', href='/css/960_12_col.css')
		link(rel='stylesheet', charset='utf-8', type='text/css', href='/css/fruktkartan.css')
		script(type='text/javascript', charset='utf-8', src='/js/jquery.js')
		script(type='text/javascript', charset='utf-8', src='/js/json2.js')
		script(type='text/javascript', charset='utf-8', src='/js/index.js')
		script(type='text/javascript', charset='utf-8', src='http://maps.googleapis.com/maps/api/js?sensor=true')
		script(type='text/javascript', charset='utf-8')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25705434-1']);
			_gaq.push(['_setDomainName', 'none']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body!= body