!!! 5
html(lang="sv")
	head
		meta(charset="UTF-8")

		meta(name="viewport", content="width=device-width initial-scale=0.7 maximum-scale=0.7 user-scalable=no")
		meta(name="description", content="Hitta fruktträd på allmäningar och i parker med fruktkartan.se!")
		title= title
		
		link(rel='stylesheet', type='text/css', href='//fruktkartan.se/css/screen.css')
		link(rel='stylesheet', type='text/css', href='//static.sasongsmat.nu/fruktkartan/css/reset.css')
		
		link(rel='apple-touch-icon-precomposed', href='//fruktkartan.se/apple-touch-icon-152x152.png')
		meta(name='msapplication-TileColor', content='#FFFFFF')
		meta(name='apple-touch-icon-precomposed', content='	//fruktkartan.se/apple-touch-icon-144x144.png')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script window.jQuery || document.write('<script src='/js/jquery-1.7.2.js'><\\/script>')

		script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js')
		script window.ko || document.write('<script src='/js/knockout-2.1.0.js'><\\/script>')

		script(src='//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js')
		script window.JSON || document.write('<script src='/js/json2.js'><\\/script>')

		script(src='/js/infobubble-min.js')
	
		script(src='/js/fk.js')
	
		script(src='http://maps.googleapis.com/maps/api/js?sensor=true')
	
		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25705434-1']);
			_gaq.push(['_setDomainName', 'none']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body!= body
